@charset "utf-8";
/* CSS Document */

#kinMaxShowkhpj{visibility:hidden;width:100%;height:350px;overflow:hidden;width:1100px;}
.main{background:#f4f4f4;padding-bottom:20px;width:expression(document.body.clientWidth <= 1100? "1100px": "auto");min-width:1100px;width:100%;}
.tit{padding-top:10px;height:40px;border-bottom:solid 1px #c3c1c1;margin-bottom:20px;}
.tit h3{font-size:16px;font-weight:normal;font-family:"Microsoft YaHei";color:#707070;line-height:40px;}
.tit p{font-size:12px;color:#c9c9c9;padding-top:20px;}


.list{height:350px;background:#FFF;margin-bottom:20px;}
.row1 .title{width:60px;height:360px;background:url(../images/ny2_03.gif) repeat-x center center;}
.row2 .title{width:60px;height:360px;background:url(../images/ny2_10.gif) repeat-x center center;}
.row3 .title{width:60px;height:360px;background:url(../images/ny2_12.gif) repeat-x center center;}
.title h4{width:18px;font-size:18px;padding:100px 0 0 21px;color:#FFF;line-height:20px;font-family:"Microsoft YaHei";font-weight:normal;}
.list li{width:200px;text-align:center;float:left;padding:0 0 0 48px;}
.list li h5 a{font-size:14px;color:#626262;font-weight:normal;padding:20px 0 15px 0;display:block;}
.list li p{text-align:left;color:#999;line-height:22px;font-size:12px;}
.list li p a{color:#e15942;}
.list li h5 a:hover{color:#e15942;}
.list li p a:hover{text-decoration:underline;}
.list_r{width:1040px;text-align:right;}
.list_r .more{width:1015px;padding:20px 10px 0 0;}
.list_r .more_2{height:16px;width:16px;background:#CCC;font-size:16px;line-height:16px;text-align:center;color:#FFF;display:block;}
.list_r .more_1{padding-left:4px;}
.list_r .more_2:hover{background:#fab9a5;}
.list_r .more_1:hover{text-decoration:underline;}

.page{height:40px;background:#FFF;margin:20px 0;text-align:right;line-height:40px;font-size:12px;color:#a0a0a0;font-family:"Microsoft YaHei";}
.page a{padding:0 5px;}
.page a:hover{text-decoration:underline;}

.khpj{background:#FFF;width:1100px;padding:30px 0 10px 0;}
#kinMaxShowkhpj h5{text-align:center;font-size:16px;line-height:24px;background:url(../images/khpj-line_03.png) no-repeat center center;color:#7d7d7d;}
#kinMaxShowkhpj li{float:left;width:366px;color:#a0a0a0;font-size:14px;line-height:24px;text-align:center;}
#kinMaxShowkhpj li p{width:300px;padding-left:30px;text-align:left;}
#kinMaxShowkhpj img{padding:5px 0;}
